**/__pycache__/
**/workspaces/
**/agents_runtime/
**/test_file_transfer_data/
*.pyc

.vscode/

**/DATA_RECEIVED/

**/DATA_UPLOAD/

**/GH_AGENT_RECEIVED/

*.pcd
*.ply
*.las

*.npy
*.npz

*.png
*.jpg

.env
venv/

.last_workspace

!**/calibration_data/**